<h1>What would you like to do? </h1>

<%= link_to "New Case", new_biopsy_path %>
</br>
<%= link_to "Update Doctor", doctors_path %>
<br/>
<%= link_to "New Doctor", new_doctor_path %>
<br/>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>


