<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= simple_form_for @doctor do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.association :state_licenses, label_method: :state_name, value_method: :id, as: :check_boxes  %>
      <%= f.association :insurance_licenses, label_method: :insurance_name, value_method: :id, as: :check_boxes %>
      <%= f.button :submit %>
    <% end %>


<%# as: :select, input_html:{multiple:true} %>


<% end %>
