<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.first_name %>
  <%= @doctor.last_name %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
